@{
  ViewData["Title"] = "Listagem de Clientes";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Clientes</h2>
  <a href="/Clientes/Details" class="btn btn-success" title="Adicionar">
    <i class="fas fa-plus"></i> Adicionar
  </a>
</div>
<br />
<br />

<table id="usuariosTable" class="display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Código</th>
      <th>Razão Social</th>
      <th>Tipo de Pessoa</th>
      <th>Documento</th>
      <th>Data de Inserção</th>
      <th>Ações</th>
    </tr>
    <tr>
      <th><input type="text" placeholder="Filtrar por Código do Cliente" class="form-control form-control-sm" /></th>
      <th><input type="text" placeholder="Filtrar por parte da Razão Social" class="form-control form-control-sm" /></th>
      <th><input type="text" placeholder="Filtrar por Tipo de Pessoa" class="form-control form-control-sm" /></th>
      <th><input type="text" placeholder="Filtrar por parte do Documento" class="form-control form-control-sm" /></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>

@section Scripts {
  <script src="~/js/clientes/index.js"></script>
}