@{
  ViewData["Title"] = "Listagem de Usuários";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0">Usuários</h2>
  <button type="button" class="btn btn-success" id="btnAdicionar">
    <i class="fas fa-plus"></i> Adicionar
  </button>
</div>
<br />
<br />

<table id="usuariosTable" class="display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Data de Inserção</th>
      <th>Ações</th>
    </tr>
    <tr>
      <th><input type="text" placeholder="Filtrar por Código do Usuário" class="form-control form-control-sm" /></th>
      <th><input type="text" placeholder="Filtrar por parte do Nome" class="form-control form-control-sm" /></th>
      <th><input type="text" placeholder="Filtrar por parte do E-mail" class="form-control form-control-sm" /></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
</table>

<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="modalUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form id="formUsuario">
        <div class="modal-header">
          <h5 class="modal-title" id="modalUsuarioLabel">Editar Usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="codigoUsuario" name="codigoUsuario" />
          <div class="mb-3">
            <label>Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" required maxlength="50" />
          </div>
          <div class="mb-3">
            <label>E-mail</label>
            <input type="email" id="email" name="email" class="form-control" required maxlength="250" />
          </div>
          <div class="writeonly-fields">
            <div class="mb-3">
              <label>Senha</label>
              <input type="password" id="senha" name="senha" class="form-control" required maxlength="64" />
            </div>
          </div>
          <div class="readonly-fields">
            <div class="mb-3">
              <input type="checkbox" id="ativo" name="ativo" class="form-check-input" />
              <label>Ativo</label>
            </div>
            <div class="mb-3">
              <label>Data de Inserção</label>
              <input type="text" id="dataInsercao" name="dataInsercao" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnSalvar" type="submit" class="btn btn-success">Salvar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/usuarios/index.js"></script>
}